.main-container{
    padding-top: 3.75rem;
}

.breadcrumb{
    width: 100%;
    margin: 0 auto;
    padding: 0 1.875rem;
    height: 4rem;
    display: flex;
    align-items: center;
}

.content{
    width: 100%;
    margin: 0 auto;
    padding: 0 1.875rem 1px 1.875rem;
    overflow-x: visible;
}